// Sizes
$header-height: 45px;

// Other
$default-font-family: "Noto Serif KR", serif;

// Colors
$default-body-background-color: #ffffff;
$default-color: #333333;

$default-link-color: #c22;
$default-link-color-active: #f00;

// Responsive widths

$mobile-s: 768px;
$mobile-m: 1024px;
$desktop-s: 1200px;
$desktop-m: 1600px;
$desktop-l: 1800px;
